current_node = 1

# first node
id = 0 
host = localhost         
cluster_port = 12       
client_port = 9000 

# second node
id = 1 
host = localhost   
cluster_port = 13    
client_port = 9001

id = 2 
host = localhost   
cluster_port = 14    
client_port = 9002

id = 3 
host = localhost   
cluster_port = 15    
client_port = 9003

id = 4
host = localhost   
cluster_port = 16    
client_port = 9004

